@{
    ViewData["Title"] = "Invalid Ticket";
}
<div class="container">

    <h2>Ce ticket n'est pas valide</h2>
    <p>Ce ticket n'est pas valide.</p>
    <img src="https://media1.tenor.com/m/Uchu16G3yHAAAAAC/nuh-uh-meme-nuh-uh-gif.gif" alt="ticket pas validé" />
</div>

