@{
    ViewData["Title"] = "Valid Ticket";
}
<div class="container">

    <h2>Ticket validé</h2>
    <p>Le ticket est valide.</p>
    <img src="https://media1.tenor.com/m/g16jQZqbvWoAAAAC/yippee-happy.gif" alt="ticket validé" />
</div>