@{
    ViewData["Title"] = "Boutique";
}
<!-- Background image -->
<div class="text-center bg-image" style="
background-image: url('/uploads/img/1200x680_sc_la-seine-olympique-paris-2024-florian-hulleu-jpg.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 780px;
">
    <div class="mask" style="
background-color: rgba(0, 0, 0, 0.6);
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
">
        <div class="d-flex justify-content-between p-3">

            <div>
                <img src="https://tickets.paris2024.org/obj/media/FR-Paris2024/specialLogos/checkoutApp/doubleP24_logo.png" class="img-fluid" alt="Description de votre image" style="height: 100px; width: auto;" />

            </div>
            <div>
                <img src="https://tickets.paris2024.org/obj/media/FR-Paris2024/specialLogos/checkoutApp/Paris2024_ParaOLY_Visa_fr.png" class="img-fluid" alt="Description de votre image" style="height: 100px; width: auto;" />
            </div>

        </div>

        <div class="container text-center h-100">
            <div class="row align-items-center">

                <div class="col mt-5">
                    <img src="https://storage.googleapis.com/endurance-apps-liip/media/cache/olympics-games_asset_card_grid_fs/622093e093e86c66c21cfc9b" class="img-fluid mb-4" alt="logojo2024" style="width: auto; height: 200px;">
                </div>

                <div class="text-white anton-regular">
                    <h1 class="display-1">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->