@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
<h1>Politique de confidentialité :</h1>

<h2>Collecte des Informations</h2>
<p>Nous collectons des informations lorsque vous vous inscrivez sur notre site, passez une commande, vous abonnez à notre newsletter ou remplissez un formulaire.</p>

<h2>Utilisation des Informations</h2>
<p>Les informations que nous collectons peuvent être utilisées pour personnaliser votre expérience, améliorer notre site web, améliorer le service client et traiter les transactions.</p>

<h2>Partage des Informations</h2>
<p>Nous ne vendons, n'échangeons ou ne transférons pas à des tiers vos informations personnellement identifiables sans votre consentement, sauf pour fournir les services demandés.</p>

<h2>Protection des Données</h2>
<p>Nous mettons en œuvre diverses mesures de sécurité pour protéger vos informations personnelles.</p>

<h2>Droits des Utilisateurs</h2>
<p>Vous avez le droit d'accéder, de rectifier ou de supprimer vos données personnelles que nous détenons.</p>

<h2>Cookies</h2>
<p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. Vous pouvez choisir de désactiver les cookies via les paramètres de votre navigateur.</p>

<h2>Modifications de la Politique</h2>
<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront affichées sur cette page.</p>

<h2>Contact</h2>
<p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à [votre adresse e-mail].</p>

</div>